<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">"
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
        <h1>WELCOME</h1>
        <p>LOG IN AUTHENTICATION</p>
        <a href="/google" button type="button" class="btn btn-secondary"></button>Loginwithgoogle</a>
    </div>
    
</body>
<scripts src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></scripts>
</html>