<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">"
</head>
<body>
    <h1>WELCOME <%=name %> Successfully LoggedIn</h1>
    <a href="/logout"  button type="button" class="btn btn-primary"></button>logout</a>

    <p>                                        <!--EJS:EMBEDDED JAVASCRIPT TEMPLATE,east and pure js in html tempelate-->
        <h2>Name</h2>: <%=email %><br>      <!--syntax for ejs , same variables ,which we gonna get from req..-->
        <h2>email</h2>: <%=name %><br>       <!--cookie session necessary in server.js-->
                                                  
    </p>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></scripts>
</html>


